# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://jfi_user:jfilocal123@localhost:5432/jfi_db

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_ACCESS_SECRET=79fe22d0695690daf0b5332bcf67675ac397cf2e3387c42b50fe4eeff4ed41b9
JWT_REFRESH_SECRET=45ccadf5b6d82afbc0719497103d8d3cea6e96ab64c1107f7575d4525364a988
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

# Web Push 
VAPID_PUBLIC_KEY=BFpo6Z9-zeWR60Lli2EtgjWIWW_XKLCC0uXGVBffZuuLZiTxXmy3i28ioVGaOI5BnRwezjf_imPRaqeHuQ9biJk
VAPID_PRIVATE_KEY=VilkVnCcIr0-Os7fVkyuMAv6ejN5WhvJ9CG1at6YziA
VAPID_EMAIL=mailto:admin@jfi.com

# Admin invite seed
SUPERADMIN_EMAIL=admin@jfi.com
SUPERADMIN_PASSWORD=Solomon256